<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>146873455104-sfue6p4mkh081827tc4kalinungsdiof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.146873455104-sfue6p4mkh081827tc4kalinungsdiof</string>
	<key>API_KEY</key>
	<string>AIzaSyBQxA-1WeJUbbth8-CT6MjsC6cmtVvEtT4</string>
	<key>GCM_SENDER_ID</key>
	<string>146873455104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.centannialcollege.MAPD714-Lesson-IOS</string>
	<key>PROJECT_ID</key>
	<string>mapd714-lesson11-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>mapd714-lesson11-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146873455104:ios:2afcbc42e94b6794903ee5</string>
	<key>DATABASE_URL</key>
	<string>https://mapd714-lesson11-ios.firebaseio.com</string>
</dict>
</plist>